{{ include.text }}

<table>
{% assign cnt = -1 %} <!-- set counter -->
{% for page1 in site.pages %} <!-- for all the pages on the website -->
    {% if page1.name != page.name %} <!-- if the page we are looking is NOT the page calling this procedure itself -->
        {% for tag1 in page1.tags %} <!-- for each tag in the page (maybe redundant as there is only one tag in each page) -->

            {% if tag1 == include.tag %}
                <!-- make a new row and set counter = 0 -->
                {% if cnt == -1 %}
                    <tr>
                    {% assign cnt = 0 %}
                {% endif %}
                <!-- make a new cell with a link to the page and increase the number of counter -->
                <td><a href="{{page1.url | remove: "/" }}">{{page1.permalink}}</a></td>
                {% assign cnt = cnt | plus:1 %}
            {% endif %}

            <!-- if there are 5 cells in the row, close the row -->
            {% if cnt == 5 %}
                </tr>
                {% assign cnt = -1 %}
            {% endif %}

        {% endfor %}
    {% endif %}
{% endfor %}

<!-- if there are less than 5 cells in the row, add cells with blank, and then close the row -->
<!-- {{page.tags}}
{{cnt}} -->
{% if cnt > 0 %}
    {% assign cnt = 5 | minus:cnt %}
    {% for i in (1..cnt) %}
        <td> </td>
    {% endfor %}
    </tr>
{% endif %}

</table>
